<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <h1>Your Friend Description</h1>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>About</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.name %></td>
      <td><%= @user.email %></td>
      <td><%= @user.about %></td>
      <td><%= @user.gender %></td>
    </tr>
  </tbody>
</table>
